<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rock DRI</title>
    <link rel="stylesheet" type = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'plugins/font-awesome/css/font-awesome.min.css') }}">
    <script type="text/javascript" src= "{{ url_for('static', filename= 'plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'plugins/font-awesome/css/font-awesome.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename= 'plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'plugins/datatables-1.10.18/js/dataTables.buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'plugins/datatables-1.10.18/js/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'plugins/datatables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'plugins/datatables-1.10.18/css/jquery.datatables.css') }}">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'plugins/datatables-1.10.18/css/dataTables.bootstrap4.min.css') }}">
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/img/page_icon.png">

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'fonts/material-design-iconic-font/css/material-design-iconic-font.css') }}">



  </head>

  <body class = "bg-white">
    {% include 'includes/_navbar.html' %}
      <div class="wrapper">
          <form action="" id="wizard">
            <!-- SECTION 1 -->
              <h2></h2>
              <section>
                <div class="inner">
      						<div class="image-holder">
                    <img class = "picture" src="static/images/form-wizard-1.jpg" alt="stock" />
      						</div>
      						<div class="form-content" >
      							<div class="form-header">
      								<h3>User Information</h3>
      							</div>
      							<p>Please fill with your details</p>
      							<div class="form-row">
      								<div class="form-holder">
      									<input type="text" placeholder="First Name" class="form-control">
      								</div>
      								<div class="form-holder">
      									<input type="text" placeholder="Last Name" class="form-control">
      								</div>
      							</div>
      							<div class="form-row">
      								<div class="form-holder">
      									<input type="text" placeholder="Your Email" class="form-control">
      								</div>
      								<div class="form-holder">
      									<input type="text" placeholder="Phone Number" class="form-control">
      								</div>
      							</div>
      							<div class="form-row">
      								<div class="form-holder">
      									<input type="text" placeholder="Age" class="form-control">
      								</div>
      								<div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
      									<div class="checkbox-tick">
      										<label class="male">
      											<input type="radio" name="gender" value="male" checked> Male<br>
      											<span class="checkmark"></span>
      										</label>
      										<label class="female">
      											<input type="radio" name="gender" value="female"> Female<br>
      											<span class="checkmark"></span>
      										</label>
      									</div>
      								</div>
      							</div>
      						</div>
      			   	</div>
              </section>
    				<!-- SECTION 2 -->
              <h2></h2>
              <section>
                <div class="inner">
    					 	  <div class="image-holder">
    						    <img class = "picture" src="static/images/form-wizard-2.jpg" alt="stock" />
    					  	</div>
    						  <div class="form-content">
        							<div class="form-header">
        								<h3>Rock Location</h3>
        							</div>
      						  	<p>Please fill in the location of the Rock</p>
      						  	<div class="form-row">
      								<div class="select">
      									<div class="form-holder">
      										<div class="select-control">Select State</div>
      										<i class="zmdi zmdi-caret-down"></i>
      									</div>
      									<ul class="dropdown">
      										<li rel="United States">United States</li>
      										<li rel="United Kingdom">United Kingdom</li>
      										<li rel="Viet Nam">Viet Nam</li>
      									</ul>
      								</div>
                      <div class="form-row">
                        <div class="form-holder w-100">
                          <input type="text" placeholder="LGA" class="form-control">
                        </div>
                      </div>
      								<div class="form-holder"></div>
      							</div>
    					  	</div>
    					  </div>
              </section>
            <!-- SECTION 3 -->
              <h2></h2>
              <section>
                <div class="inner">
          						<div class="image-holder">
          							  <img class = "picture" src="static/images/form-wizard-3.jpg" alt="stock" />
          						</div>
          						<div class="form-content">
          							<div class="form-header">
          								<h3>Rock Classification</h3>
          							</div>
          							<p>Rock Classification Information</p>
                        <div class="form-row">
                          <div class="form-holder w-100">
                            <input type="text" placeholder="Uniaxial Compressive Strength (UCS)" class="form-control">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-holder w-100">
                            <input type="text" placeholder="Uniaxial Compressive Strength (UCS)" class="form-control">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-holder w-100">
                            <input type="text" placeholder="Uniaxial Compressive Strength (UCS)" class="form-control">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-holder w-100">
                            <input type="text" placeholder="Uniaxial Compressive Strength (UCS)" class="form-control">
                          </div>
                        </div>
          						</div>
      					</div>
              </section>

          </form>
  		</div>

  		<!-- JQUERY STEP -->
  		<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery.steps.js') }}"></script>
  		<script type="text/javascript" src="{{ url_for('static', filename= 'js/main.js') }}"></script>
  </body>

</html>
