{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  <h2>Rock Classification Results</h2>
  <small>Entered on {{rock.create_date}}</small>
  <hr>
  <table class="table table-striped" id = "">
   <tbody>
     <tr>
       <th scope="row">Name</th>
       <td>{{rock.name}} </td>
     </tr>
     <tr>
       <th scope="row">Phone Number</th>
       <td>{{rock.phone}} </td>
     </tr>
     <tr>
       <th scope="row">Rock Location</th>
       <td>{{rock.location}} </td>
     </tr>
   </tbody>
  </table>
  <h2><small>Rock Classification Data</small></h2>
  <hr>
  <table class="table table-striped" id = "">
   <tbody>
     <tr>
       <th scope="row">Uniaxial Compressive Strength</th>
       <td>{{rock.ucs}} </td>
     </tr>
     <tr>
       <th scope="row">Aggregate Crushing Value</th>
       <td>{{rock.acv}} </td>
     </tr>
     <tr>
       <th scope="row">Point Load</th>
       <td>{{rock.pl}} </td>
     </tr>
     <tr>
       <th scope="row">Abrasion</th>
       <td>{{rock.av}} </td>
     </tr>
     <tr>
       <th scope="row">Brittleness</th>
       <td>{{rock.brit}} </td>
     </tr>
     <tr>
       <th scope="row">Bit Wear Index</th>
       <td>{{rock.bwi}} </td>
     </tr>
   </tbody>
  </table>
  <h2><small>Rock Classification Results</small></h2>
  <hr>
  <table class="table table-striped" id = "">
   <tbody>
     <tr>
       <th scope="row">Derived DRI Value</th>
       <td><strong style = "color:red;">{{rock.dri}}</strong></td>
     </tr>
     <tr>
       <th scope="row">Derived DRI Classification</th>
       <td><strong style = "color:red;">{{rock.dri_class}}</strong></td>
     </tr>
     <tr>
       <th scope="row">Uniaxial Compressive Strength</th>
       <td>{{rock.ucs_class}}</td>
     </tr>
     <tr>
       <th scope="row">Aggregate Crushing Value</th>
       <td>{{rock.acv_class}}</td>
     </tr>
     <tr>
       <th scope="row">Point Load</th>
       <td>{{rock.pl_class}}</td>
     </tr>
     <tr>
       <th scope="row">Abrasion</th>
       <td>{{rock.av_class}}</td>
     </tr>
     <tr>
       <th scope="row">Brittleness</th>
       <td>{{rock.brit_class}}</td>
     </tr>
     <tr>
       <th scope="row">Bit Wear Index</th>
       <td>{{rock.bwi_class}}</td>
     </tr>
   </tbody>
  </table>
</div>
{% endblock %}
